.header {
    background-color: #bfbfc0;
    background-image: url('../assets/images/decor_9.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header_color {
    background-color: rgb(125 53 50 / 22%);
    padding: 30px;
    height: 400px;
}

.header_cont {
    margin-top: 100px;
}

.header_cont h1 {
    color: #020403;
    font-size: 42px;
    font-weight: 600;
}

.header_cont p {
    font-size: 16px;
    color: #222;
}

.container {
    width: calc(60.333% - 20px);
    margin: 0px auto;
}

.who, .mission {
    display: flex;
    justify-content: space-between;
}

.who_cont, .mission_cont {
    padding: 30px 0px;
    max-width: 450px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    margin-right: auto;
}

.who_cont h2, .mission_cont h2 {
    font-size: 32px;
    color: #52442d;
}

.who_cont p, .mission_cont p {
    font-size: 16px;
    color: #222;
}

.image {
    padding-top: 30px;
}

.image img {
    background-color: #52442d;
    padding: 3px;
    border-radius: 8px;
    width: 330px;
    height: 420px;
    object-fit: cover;
}

.mission {
    margin-top: 30px;
}

.mission_cont {
    padding-left: 30px;
    padding-top: 40px;
}

.mission_image img {
    border-radius: 8px;
    padding-top: 40px;
}

.contact {
    max-width: 450px;
    width: 100%;
    margin: auto;
    padding-top: 60px;
}

@media (max-width: 820px) {
    .header {
        background-attachment: scroll;
        background-position: center;
        background-size: 100%;
    }

    .header_cont {
        margin-top: 20px;
    }
    
    .header_cont h1 {
        font-size: 35px;
    }

    .header_color {
        height: calc(100% + 50px);
        padding: 50px;
    }

    .container {
        width: calc(97.333% - 20px);
        margin: 0px auto;
    }

    .who, .mission {
        flex-direction: column;
    }

    .who_cont, .mission_cont {
        width: 100%;
    }

    .mission {
        display: flex;
        flex-direction: column-reverse;
    }

    .mission_cont {
        margin-top: 10px;
    }

    .image img {
        background-color: transparent;
        border-radius: 5px;
        width: 100%;
        height: 500px;
    }
}