.container {
    display:flex;
    background-color: #fff;
    width: 100%;
}

.left {
    flex: 2;
}

.top {
    flex: 10;
}

.header {
    padding: 0px 10px;
    display: flex;
    gap: 20px;
}

.header h1 {
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

.table_container {
    padding: 10px;
    margin-bottom: 30px;
}

.table_container table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 2px 10px 33px 0px rgba(0,0,0,0.12);
    -webkit-box-shadow: 2px 10px 33px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 2px 10px 33px 0px rgba(0,0,0,0.12);
}

.table_container th, .table_container td {
    padding: 8px 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.table_container tr:hover {
    background-color: #ddd;
}

.action {
    display: flex;
    justify-content: space-around;
}

.action span {
    padding: 0px;
}

.delete, .view {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.delete:hover, .view:hover {
    background-color: #fff;
}

.delete_icon {
    font-size: 20px;
    color: red;
}

.view_icon {
    font-size: 20px;
    color: blue;
}