.container {
    display:flex;
    background-color: #fff;
    width: 100%;
}

.left {
    flex: 2;
}

.top {
    flex: 10;
}

.header {
    padding: 0px 10px;
}

.header h1 {
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

.table_container {
    padding: 10px;
    margin-bottom: 30px;
}

.table_container table {
    width: 100%;
    border-collapse: collapse;
}

.table_container th, .table_container td {
    padding: 12px 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.table_container tr:hover {
    background-color: #ddd;
}

.delete {
    border: 1px solid#ddd;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete:hover {
    background-color: #fff;
}

.delete_icon {
    font-size: 20px;
    color: red;
}