.dashboard {
    display: flex;
    background-color: #fff;
}

.top_navbar {
    flex: 1;
    margin-left: 20px;
}

.widget {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.revenue_wrapper {
    display: flex;
}

.revenue {
    flex: 2;
}

.total {
    flex: 5;
}