.dashboard {
    display: flex;
    background-color: #fff;
}

.side_bar {
    flex: 2;
}

.top_navbar {
    flex: 10;
    width: 100%;
}

.widget {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.revenue_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.revenue {
    flex: 3;
}

.area_chart {
    flex: 4;
}

.transaction_table {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    padding: 10px;
}