.header {
    display: flex;
    justify-content: space-between;
}

.add_btn {
    padding: 20px 0px
}

.add_btn a {
    background-color: #e77e22;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    border: 1px solid #e77e29;
    border-radius: 5px;
    text-align: center;
}

.add_btn a:hover {
    opacity: 0.8;
}

.cell_action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.table_container {
    padding: 10px;
    margin-bottom: 30px;
}

.table_container table {
    width: 100%;
    border-collapse: collapse;
}

.table_container th, .table_container td {
    padding: 12px 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.table_container tr:hover {
    background-color: #ddd;
}

.edit, .delete {
    border: 1px solid#ddd;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.edit:hover, .delete:hover {
    background-color: #fff;
}

.edit_icon {
    font-size: 20px;
    color: #0099ff;
}

.delete_icon {
    font-size: 20px;
    color: red;
}