.container {
    max-width: 1300px;
    width: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact_form {
    max-width: 500px;
    width: 100%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #7777;
    background-color: #fff;
}

.contact_header {
    color: #52442d;
}

.contact_header h2 {
    font-size: 22px;
    margin: auto;
}

.contact_header p {
    font-size: 15px;
    font-weight: 500;
}

.contact_header a {
    color: #7e3701;
}

.contact_form label {
    display: block;
    font-size: 15px;
    color: #52442d;
    margin-top: 20px;
}

.contact_form input[type=text], .contact_form input[type=email] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #52442d;
    width: 100%;
    outline: none;
}

.contact_form textarea {
    background: transparent;
    outline: none;
    width: 100%;
    border: 1px solid #52442d;
    border-radius: 5px;
}

.contact_form input[type=submit] {
    background-color: #111;
    border-radius: 5px;
    padding: 8px 20px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    margin-top: 10px;
}

.supplier {
    background-image: url('../assets/images/girl.jpg');
    background-position: left;
    background-size: 50%;
    height: 450px;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.supplier_cont {
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-top: 60px;
}

.supplier_cont h3 {
    font-size: 30px;
    font-weight: 500;
    color: #52442d;
}

.supplier_cont strong {
    font-weight: 800;
}

.supplier_cont p {
    font-size: 18px;
    font-weight: 400;
    color: #444;
    margin-top: 50px;
}

.supplier_images {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-top: 26px;
    max-width: 600px;
    width: 100%;
    margin-left: auto;
}

.supplier_images img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}