.navbar_wrapper {
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: auto;
}

.row {
    /* background-color: #5555; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .afri_logo {
    background-color: #fff;
    flex: 0.2;
} */

.img {
    width: 170px;
    object-fit: contain;
    height: 80px;
}

.form_container {
    background-color: #e2e2e263;
    display: flex;
    flex: 0.9;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 2px solid #555;
    border-radius: 50px;
    padding: 6px 2px;
}

/* .form_container form {
    flex: 0.9;
}

.form_container input[type=text] {
    width: 100%;
    font-size: 15px;
    color: #7777;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 2px 10px;
} */

/* .sign_in {
    background-color: #fff;
    flex: 0.1;
} */

.sign_in a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #444;
}

/* .svg_heart_icon_container {
    background-color: #fff;
    flex: 0.1;
} */

.svg_heart_icon {
    fill: #444;
    width: 20px;
}

/* .svg_shopping_cart_icon_container {
    background-color: #fff;
    flex: 0.1;
} */

.svg_shopping_cart_icon {
    fill: #444;
    width: 20px;
}

.categories_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.categories_navbar a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #444;
}