.header {
    text-align: center;
    padding: 30px 0;
}

.header h1 {
    font-size: 24px;
    font-weight: 600;
    color: #000;
}

.row {
    display: flex;
    gap: 20px;
    width: calc(60.333% - 20px);
    margin: 20px auto;
}

.col {
    background-color: whitesmoke;
    width: 60%;
    margin-bottom: 30px;
    border-radius: 3px;
    border: 1px solid #5555;
    padding: 25px;
}

.col h2, .order_summary h2 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.col p, .order_summary p {
    font-size: 15px;
    color: #111;
}

.item_container img {
    height: 80px;
    width: 80px;
    object-fit: contain;
    border-radius: 2px;
}

.item_container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item_container p {
    line-height: 0.5 !important;
}

.order_summary {
    width: 40%;
    height: 320px;
    background-color: whitesmoke;
    padding: 10px 30px 31px 30px;
    border: 1px solid #5555;
    border-radius: 3px;
}

.order_summary button {
    background-color: brown;
    color: #fff;
    font-size: 15px;
    border: 1px solid #5555;
    border-radius: 2px;
    padding: 8px 15px;
}

.order_cont {
    display: flex;
    justify-content: space-between;
}