/* .container {
    max-width: 1300px;
    width: 100%;
    margin: auto;
} */

/* .card_wrapper {
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    float: left;
    width: 100%;
} */

/* .test_flex {
    background-color: #5555;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left; 
    margin-right: 12px;
    margin-bottom: 20px;
} */

.card_wrapper a {
    text-decoration: none;
    color: #333;
}

.card_wrapper button {
    padding: 6px 10px;
    border-radius: 3px;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 20px;
}

.card_wrapper button:hover {
    opacity: 0.8;
}

button.disabled_btn {
    border: 1px solid #ddd;
    background-color: #ccc;
    color: #555;
    cursor: not-allowed;
}

button.active_btn {
    background-color: #52442d;
    color: #fff;
    cursor: pointer;
    border: 1px solid #5555;
}

.card {
    width: 228px;
    height: 380px;
    border: 1px solid #ddd;
    margin-right: 10px;
    margin-bottom: 60px;
    margin-top: 20px;
}

.card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 3px;
}

.card img:hover {
    transform: scale(1.03);
    transition: all ease-in-out 0.6s;
}

.card_content {
    display: flex;
    justify-content: space-between;
}

.card_content p {
    margin: auto;
}

p.description {
    padding-top: 10px;
    font-size: 16px;
    color: #111 !important;
    font-weight: normal;
    white-space: nowrap; 
    width: 200px; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.rating {
    font-size: 15px;
    color: #000;
    padding-top: 2px;
    display: flex;
    align-items: center;
}

.rating span {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    margin-left: 3px;
}

.price {
    font-size: 17px;
    color: #111;
    font-weight: 600;
}

.artist {
    font-size: 13px;
    color:#605e59;
    padding-top: 0px;
}

.left_cont {
    flex: 9;
}

.right_cont {
    flex: 1;
}

.shopping_bag {
    font-size: 25px;
    color: #52442d;
    cursor: pointer;
}

.shopping_bag:hover {
    color: brown;
    transform: scale(1.2);
    transition: all ease-in-out 0.4s;
}

.shopping_bag_disabled {
    color: #9999;
    font-size: 25px;
    cursor: not-allowed;
}

@media(max-width: 766px) {
    .card_content p {
        margin: auto;
    }
    
    p.description {
        font-size: 16px;
        color: #111 !important;
        font-weight: normal;
        width: 135px;
    }
    
    .rating {
        font-size: 15px;
        color: #000;
        padding-top: 0px;
        display: flex;
        align-items: center;
    }
    
    .rating span {
        color: #222;
        font-size: 15px;
        font-weight: 500;
        margin-left: 3px;
    }
    
    .price {
        font-size: 17px;
        color: #111;
        font-weight: 600;
    }
    
    .artist {
        font-size: 13px;
        color:#605e59;
        padding-top: 0px;
    }
    .card {
        width: 160px;
        height: auto;
        margin-right: 0px;
        margin-bottom: 22px;
        margin-top: 0px;
    }
    .card img {
        width: 100%;
        height: 160px;
    }
}