.containter {
    background-image: url('../assets/images/decor_1.webp');
    background-size: 100%;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.form_container {
    background-color: rgba(0,0,0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0; 
}

.form_cont {
    background-color: #fff;
    max-width: 390px;
    width: 100%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

.form_header h1 {
    font-size: 25px;
    font-weight: 600;
    color: #222;
    margin: auto;
}

.form_header p {
    margin: auto;
    font-size: 15px;
    color: #444;
}

.form_cont label {
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    margin-top: 20px;
    margin-bottom: 5px;
}

.names_container {
    display: flex;
    justify-content: space-between;
}

.names_container input[type=text] {
    width: 82% !important;
}

.form_cont input[type=text], .form_cont input[type=password] {
    width: 92%;
    border: 1px solid #b1a5a5;
    border-radius: 5px;
    padding: 15px 12px;
    color: #444;
}

.form_cont input[type=submit] {
    width: 100%;
    background-color: #ee7e22;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 12px;
    border: 1px solid #ee7e22;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.form_cont input[type=submit]:hover {
    opacity: 0.8;
    transition: all 0.4s ease-in-out;
}

.account {
    margin-top: 20px;
}

.account a {
    font-size: 15px;
    margin-right: 10px;
    color: rgb(34, 86, 199);
}

.comment p {
    font-size: 13px;
    color: #777;
}

.comment a {
    font-size: 13px;
    color: #888;
}

.copyright {
    text-align: center;
}

.copyright a {
    text-decoration: none;
    color: #444;
    font-size: 13px;
}