.header {
    background-color: #bfbfc0;
    background-image: url('../assets/images/decor_9.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header_color {
    background-color: rgb(125 53 50 / 22%);
    padding: 30px;
    height: 400px;
}

.header_cont {
    margin-top: 100px;
}

.header_cont h1 {
    color: #020403;
    font-size: 42px;
    font-weight: 600;
}

.header_cont p {
    font-size: 16px;
    color: #222;
}

.content {
    max-width: 650px;
    width: 100%;
    margin: auto;
    margin-top: 30px;
}

.shipping {
    margin-bottom: 30px;
}