.container {
    background-color: #fff;
    color: grey;
    border-radius: 3px;
     margin-top: 20px;
     margin-right: 20px;
    box-shadow: 2px 10px 33px 0px rgba(0,0,0,0.12);
    -webkit-box-shadow: 2px 10px 33px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 2px 10px 33px 0px rgba(0,0,0,0.12);
   
}

.title {
    font-size: 15px;
    padding: 20px;
}