.edit_container {
    display: flex;
    width: 100%;
    background-color: #fff;
}

.side_bar {
    flex: 2;
}

.top_navbar {
    flex: 8;
}

.form_container {
    padding: 40px;
    border-radius: 2px;
    border-collapse: collapse;
    box-shadow: 2px 10px 33px 0px rgba(0,0,0,0.12);
    -webkit-box-shadow: 2px 10px 33px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 2px 10px 33px 0px rgba(0,0,0,0.12);
}


.form_container h1 {
    font-size: 20px;
    color: #444;
    margin: auto;
}

.form_container {
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
}

.form_container label {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #222;
    font-weight: 600;
    font-size: 16px;
}

.form_container input[type=text], .form_container input[type=email] {
    width: 100%;
    border: 1px solid #4444;
    border-radius: 2px;
    padding: 8px 5px;
    font-size: 16px;
    color: #444;
}

.form_container input[type=checkbox] {
    scale: 1.5;
    margin-top: 20px;
}

.form_container button {
    display: block;
    margin-top: 20px;
    background-color: brown;
    color: #fff;
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 2px;
    border: 1px solid brown;
    cursor: pointer;
}

.form_container button:hover {
    opacity: 0.8;
}